
.cell{
    margin: 0%;
    padding: 0%;    
    border-style: solid ;
    color: pink;
    align-items: center;
    border-spacing: 0%; 
    height: 100px;
    width: 100px; 
    background-color: rgb(255, 0, 200);
}

.emptyCell{
    margin: 0%;
    padding: 0%;    
    border-style: solid ;
    color:	#4B0082;
    align-items: center;
    border-spacing: 0%; 
    height: 100px;
    width: 100px; 
    background-color: #00BFFF;
}
