.header1 h3{
    align-self: center;
  font-family: 'Bradley Hand ITC';
    color: rgb(206, 41, 19);
    font-size:30px ;
}
* {
  box-sizing: border-box;
}
.btnPlay{
  background-color:salmon;
  border-radius: 8px;
  font-family: 'French Script MT';
  font-size: 30px;
  }

  .btnPlay:hover{
    background-color:rgb(255,143,143);
    ;
    
    }
.videoContainer{
  background-image: url("./videoBackground.jpg");
  align-items: center;
  display: flex;
  margin: 20px;
  justify-content: center;
  align-content: center;

  
}
.hiddenYouTube{
  visibility: hidden;
  height: 0px;
  width: 0px;
}

.visibleYouTube{
  visibility: visible;

}
